doctype html
html(lang="es")
  head
    link(rel="stylesheet", href="assets/styles/main.min.css")
    include _includes/head/index.pug

  body
    include _includes/body/header.pug
    
    main.main
      include _includes/body/footer.pug
    
    script(src="assets/scripts/main.min.js")
